<div class="container">

  <table mat-table [dataSource]="Article" class="mat-elevation-z8">

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"  (click)="selectRow(element)"> {{element.title +" - "+ element.author }} </td>
    </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="created_at">
    <th mat-header-cell *matHeaderCellDef> Created At </th>
    <td mat-cell *matCellDef="let element"  (click)="selectRow(element)"> {{element.created_at | dateAgo}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let element; let i = index;" class="action-link">
    <span class="delete" (click)="removeArticle(element,i)">
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


</div>